<ul>
    <% for (i of interviews){%>
        <li id="interview">
            <a href="/interviews/delete-interview/<%= i._id %>"><img width="100" height="100" src="https://img.icons8.com/plasticine/100/filled-trash.png" alt="filled-trash"/></a>
            <%= i.company %>

            <br>
            
            <%= i.job %>


            <% for (s of i.students){%>

                <small>
                    <%= s.name %>
                </small>

                <a href="/interviews/remove-student-from-interview/<%= s._id %>/<%= i._id %>"><img width="100" height="100" src="https://img.icons8.com/plasticine/100/filled-trash.png" alt="filled-trash"/></a>
                
            <%}%>
            
            <form action="/interviews/add-student" method="post">
    
                <label for="students">Choose a Student:</label>

                <select name="student">

                <% for (s of allStudents){%>
                    <option value="<%= s._id %>">
                        <%= s.name %>
                    </option>
                <%}%>
            
                <input type="date" name="date" placeholder="date" required>

                <input type="hidden" name="interview" value="<%= i._id %>">

                <input type="submit" value="Submit">

            </form> 
        </li>
    <%}%>
</ul>