<ul>
    <% for (s of students){%>
        <li>
            <%= s.name %>
            <%= s.batch %>
            <%= s.college %>
            <%= s.DSA %>
            <%= s.webDev %>
            <%= s.react %>
            <%= s.placed %>
            <%= s.company %>
            <%= s.result %>
        </li>
    <%}%>
</ul>