<ul>
    <% for (s of allStudents){%>
        <li>
            <%= s.name %>
            <%= s.batch %>
            <%= s.college %>
            <%= s.DSA %>
            <%= s.webDev %>
            <%= s.react %>
            <%= s.placed %>
            <%= s.result %>

            <% for (i of s.interviews){%>

                <small>
                    <%= i.company %>
                </small>

                <small>
                    <%= i.job %>
                </small>

                <small>
                    <%= i.date %>
                </small>
                
            <%}%>

        </li>
    <%}%>
</ul>